#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
    &out OUT_USB    &bt BT_SEL 1  &bt BT_SEL 2   &bt BT_SEL 3   &kp 4       &kp 5       &kp 6     &kp 7    
    &out OUT_BLE    &kp Q         &kp W          &kp F          &kp P       &kp G       &kp J     &kp L          
    &out OUT_TOG    &kp A         &kp S          &kp R          &kp T       &kp D       &kp H     &kp N              
    &bt BT_PRV      &kp Z         &kp X          &kp C          &kp V       &kp B       &kp K     &kp M           
    &bt BT_NXT      &kp LGUI      &kp LALT       &bt BT_PRV     &kp SPACE   &bt BT_NXT  &kp RALT  &kp RCTRL 
    &bt BT_CLR      &kp 9         &kp 0          &kp MINUS      &kp EQUAL   &kp U       &kp Y     &kp I
    &bt BT_CLR_ALL  &kp LBKT      &kp GRAVE      &kp O          &kp APOS    &kp ENTER   &kp E     &kp LSHIFT
            >;   
        };

    };
};